html {
	scroll-behavior: smooth;
}

/* HTML ELEMENTS */
body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
	font-size: calc(1rem + 1vw);
	padding-top: calc(8vh + 50px);
}

a, a:hover {
	color: black;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 10px 0;
}

header, footer {
	max-width: 100vw;
	width: 100%;
	min-height: 10vh;
	padding: 2vh 2vw;
	z-index: 10;
}

header {
	background: white;
	height: calc(8vh + 50px);
	position: absolute;
	top: 0;
	left: 0;
	transition: transform 1s ease-in-out;
}

header:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	transform: translateY(-10vh);
	background: inherit;
	z-index: 5;
}

header > a {
	display: block;
	height: inherit;
	padding: 2vh 0;
}

header img {
	max-height: 95%;
	max-width: 600px;
}

header span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

header h1 {
	font-size: calc(1rem + 2vw);
	text-align: center;
}

footer {
	background: white;
}

footer > div {
	width: 100%;
}

footer span {
	font-size: 0.8em;
}

@media only screen and (max-width: 430px) {
	footer > div {
		flex-wrap: wrap;
		justify-content: center;
	}
	
	footer span {
		width: 100%;
		text-align: center;
	}
}

main {
	min-height: 87vh;
}

/* LOADSCREEN */
.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: white;
	z-index: 5;
	opacity: 1;
	transition: opacity 1s ease-in-out;
}

.loaded .loader {
	opacity: 0;
	pointer-events: none;
}

/* NAVIGATION */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100vh - (8vh + 50px));
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	z-index: 8;
	transform: translateY(-90vh);
	pointer-events: none;
	transition: transform 1s ease-in-out;
	padding: 8vh 5vw;
	flex-wrap: wrap;
}

nav a {
	color: black;
	font-size: calc(1.5rem + 1.5vw);
	font-weight: 600;
}

.dropdown ul {
	max-height: 0;
	overflow: hidden;
	margin: 0;
	transition: max-height 1s cubic-bezier(.45,.05,.55,.95);
	padding-left: calc(30px + 2vw);	
}

.dropdown:hover ul {
	max-height: 1000px;	
}

.nav-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.99;
	transition: opacity 1s ease-in-out;
	background-color: white;
}

body.nav-is-open {
	overflow-y: scroll;
	position: fixed;
	width: 100%;
}

.nav-is-open header {
	transform: translateY(calc(100vh - (8vh + 50px)));
}

.nav-is-open nav {
	transform: translateY(-0);
	pointer-events: initial;
}

/* Transition to offset the off-screen culling that Firefox does */
.nav-is-open .nav-bg {
	opacity: 1;
}

/* FLEX UTILITY */
.flex, section {
	display: flex;
	justify-content: space-around;
}
.flex.ver { flex-direction: column; }
.flex.hor { flex-direction: row; }
.flex.cen { align-items: center; }
.flex.spread { justify-content: space-between; }
.flex.clump { align-items: center; justify-content: center; }

/* PRODUCT GRID */
/* In this theme, we give the section element to the product grid! */
section {
	flex: 1 450px;
	position: relative;
	overflow: hidden;
	min-height: 87vh;
	z-index: 1;
	justify-content: center;	
}

section, .product-grid .alt-img-bg, .product-grid .img-bg {
	background-size: cover;
	background-position: center;
}
	
section:nth-of-type(even) {
	margin: 5px 10px 5px;
}

section:nth-of-type(odd) {
	margin: 5px 5px 5px 10px;
}

section a {
	display: flex;
	justify-content: center;
}

.product-grid {
	flex-wrap: wrap;
	height: 100%;
	width: 100%;
}

.product-grid .alt-img-bg, .product-grid .img-bg {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 1s ease-in-out;
	z-index: -1;
}

.product-grid .alt-img-bg {
	z-index: 1;
	opacity: 0;
}

section:nth-of-type(odd) a {
	margin: 0 20px 0 auto;
}

section:nth-of-type(even) a {
	margin: 0 auto 0 20px;
}

section:nth-of-type(odd) .flex.ver {
	align-items: end;
}

.info {
	display: inline-block;
	padding: 20px;
	background: white;
	color: black;
	transition: transform 1s ease-in-out;
	margin: auto 0 20px;
	pointer-events: none;
	max-width: 90%;
	z-index: 1;
}

.info span {
	margin: 5px 0;
	display: inline-block;
}

.description, .price {
	font-size: 0.7em;
}

.title {
	font-size: 1.3em;
	font-weight: 700;
}

.description {
	
}

.description:after {
	content: "\A";
}

.price {
	position: relative;
	font-weight: 400;
}

.price.sold-out {
	opacity: 0.8;
}

.price.sold-out:before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	border-top: 2px solid black;
	z-index: -1;
}

.sold-text {
	font-weight: 800;
	background-color: white;
	font-size: 0.7em;
	z-index: 2;
}

/* make sure sections take up half the page on desktop and above*/
@media only screen and (min-width: 1024px) {
	section {
		flex-basis: 45vw;
		max-width: 70vw;
	}
}

/* only show grid animations on desktop-ish sizes and above */
@media only screen and (min-width: 990px) {		
	section:nth-of-type(odd) .info {
		transform: translateX(120%);
		text-align: right;
	}

	section:nth-of-type(even) .info {
		transform: translateX(-120%);
		text-align: left;
	}
	
	section:hover .info {
		opacity: 1;
		transform: translateX(0%);
	}.product-grid .alt-img-bg {
		opacity: 1;
	}
	
	section:nth-of-type(even):hover .img-bg {
		transform: translateX(-10%);
	}
	
	section:nth-of-type(odd):hover .img-bg {
		transform: translateX(10%);		
	}

	section:nth-of-type(even) .alt-img-bg {
		transform: translateX(100%);
	}
	
	section:nth-of-type(odd) .alt-img-bg {
		transform: translateX(-100%);		
	}
	
	section:nth-of-type(even):hover .alt-img-bg {
		transform: translateX(90%);
	}
	
	section:nth-of-type(odd):hover .alt-img-bg {
		transform: translateX(-90%);		
	}
	
	section:nth-of-type(even):hover .alt-img-bg:hover {
		transform: translateX(5%);
	}
	
	section:nth-of-type(odd):hover .alt-img-bg:hover {
		transform: translateX(-5%);		
	}
	
	section:nth-of-type(even):hover .alt-img-bg:hover ~ .img-bg {
		transform: translateX(-95%);
	}
	
	section:nth-of-type(odd):hover .alt-img-bg:hover ~ .img-bg{
		transform: translateX(95%);		
	}
}

@media only screen and (max-width: 990px) {
	section .info {
		transform: translateX(0);
	}

	section:nth-of-type(odd) a {
		padding-left: 15vw;
	}

	section:nth-of-type(even) a {
		padding-right: 15vw;
	}
}

/* PRODUCT PAGES */
.product-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.product-quickadd {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-bottom: 2rem;
	background: white;
	z-index: 5;
}

.product-quickadd .details {
	height: 1.5rem;
	font-size: 1rem;
	margin-bottom: 0.5rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	animation: FADE 3s linear infinite
}

.product-quickadd .selector-container {
	margin: 7.5px auto;
}

.product-quickadd span:first-child {
	margin: 5px 0 0;
}

@keyframes FADE {
	0% { opacity: 0.3 }
	50% { opacity: 1 }
	100% { opacity: 0.3 } 
}

.product-details {
	min-height: 25vh;
	padding: 5vh 5vw;
	z-index: 6;
	background: white;
	align-items: center; 
	justify-content: center;
}

.product-details h1 {
	font-size: 1.2em;
}

.product-details .copy {
	font-size: calc(1rem + 0.5vw);
	margin: 3vh 0;
}
	
.product-selection {
	display: inherit;
	flex-direction: inherit;
	justify-content: inherit;
	align-items: inherit;
}

.product-details > span, .product-details > div {
	margin: 1vh 0;
}

.btn {
	color: black;
	background-color: white;
	border: 1px solid black;
	padding: calc(10px + 0.5vw);
	height: auto;
	line-height: calc(0.8rem + 0.5vw);
	font-size: calc(0.8rem + 0.5vw);
}

.btn.disabled {
	border-color: transparent;
}

.btn:hover {
	background-color: black;
	color: white;
	border-color: white;
}


@media only screen and (min-width: 800px) {
	.product-container {
		display: block;
		width: 100%;
	}
	
	.product-images {
		min-height: 100vh;
	}
	
	.product-quickadd {
		display: none;
	}
	
	.product-images {
		width: 50%;
		margin-right: auto;
	}
	
	.product-details {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		width: 50%;
		padding: 15vh 5vw 10vh;
		justify-content: flex-start;		
	}
	
	.product-details .scroller {
		overflow: hidden;
		scroll-behavior: smooth;
	}
}

/* PRODUCT SELECTORS */
.selector-container {
  transition: opacity 0.5s ease, max-height 1s ease-in;
  max-height: 500px;
  margin: 15px auto;
  width: 100%;
	text-align: center;
}

.selector {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: black;
  margin: 0.5vw;
  min-width: calc(30px + 1.5vw);
  height: calc(30px + 1.5vw);
  cursor: pointer;
  border-radius: 50px;
  padding: 0 calc(5px + 0.5vw);
  transition: opacity .4s ease;
  overflow: hidden;
}

.selector.full-width {
  width: 100%;
}

.selector.selected-color, #selected.selector, .selected-option, .selected.selector {
  background-color: black;
  color: white;
}

.selector.in-stock:hover, .selector.available:hover {
  background-color: black;
  color: white;
}

.selector.unavailable, .selector.out-of-stock {
  display: none;
}

.sizes-container.unselected {
  opacity: 0;
  max-height: 0px;
  margin-top: 0;
}

.sizes-container .size-selector {
  font-size: calc(1rem + 0.2vw);
}

/* MISC PAGES */
.inner-page {
	width: calc(1000px + 14.5vw);
	margin: auto;
	max-width: 100%;
	padding: 0 10px;
}